@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="col-3 ">

    <a asp-controller="User" asp-action="ChangePassword" class="list-group-item"><i class="fa fa-key"></i> <span>Şifreyi Değiştir </span></a>
    <a asp-controller="RealEstateAd" asp-action="AddEstateAd" class="list-group-item"><i class="fa fa-plus"></i> <span>Yeni İlan Ekle</span></a>
    <a asp-controller="RealEstateAd" asp-action="RealEstateAdListByUser" class="list-group-item"><i class="fa fa-credit-card"></i> <span>İlanlarım</span></a>

</div>
